{% extends "layout.html" %}

{% block title %}
    Create Account
{% endblock %}

{% block main %}
    <div class="recipe-card">
        <h2 class="mb-4 text-start">Create Account</h2>

        <form action="/register" method="post">
            <div class="mb-3 text-start">
                <label for="username" class="form-label">Username</label>
                <input autocomplete="off" autofocus class="form-control" name="username" id="username" placeholder="Username" type="text" required>
            </div>

            <div class="mb-3 text-start">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" name="password" id="password" placeholder="Password" type="password" required>
            </div>

            <div class="mb-3 text-start">
                <label for="confirmation" class="form-label">Confirmation</label>
                <input class="form-control" name="confirmation" id="confirmation" placeholder="Confirm Password" type="password" required>
            </div>

            <div class="text-end">
                <button class="btn btn-primary btn-sm mt-3 w-100" type="submit">Create Account</button>
            </div>
        </form>

        <p class="mb-3">Already have an account? <a href="/login">Log in here</a></p>
    </div>
{% endblock %}
